<template name="register">
	  <div class="row">
	  	 <div class="col-md-6 col-md-offset-3">
	  	 	<form class="register-form">
	  	   	 	  <div class="panel panel-info">
	  	   	 	  	   <div class="panel-heading">
	  	   	 	  	   	 <h3 class="plain">Registration</h3> 
	  	   	 	  	   	 <small>Already Registered ? <a href="/signin">Sign In</a></small>
	  	   	 	  	   </div><!--end  class=panel-heading -->
	  	   	 	  	   <div class="panel-body">
	  	   	 	  	     	<div class="form-group col-lg-12">
	  	   	 	  	     	  <label  class="plain">Email</label>
	  	   	 	  	     	 	<input type="text" class="form-control plain" id="email">
	  	   	 	  	     	</div><!--end  class=form-group col-lg-12 -->
	  	   	 	  	     	<div class="form-group col-lg-12">
	  	   	 	  	     	  <label  class="plain">First Name</label>
	  	   	 	  	     	 	<input type="text" class="form-control plain" id="firstName" >
	  	   	 	  	     	</div><!--end  class=form-group col-lg-12 -->
	  	   	 	  	     	<div class="form-group col-lg-12">
	  	   	 	  	     	  <label  class="plain">Last Name</label>
	  	   	 	  	     	 	<input type="text" class="form-control plain" id="lastName">
	  	   	 	  	     	</div><!--end  class=form-group col-lg-12 -->
	  	   	 	  	     	<div class="form-group col-lg-12">
	  	   	 	  	     	  <label class="plain">Password</label>	 
	  	   	 	  	     	  <input type="password" class="form-control plain" id="password"> 
	  	   	 	  	     	</div><!--end  class=form-group col-lg-12 -->
	  	   	 	  	   </div><!--end  class=panel-body -->
                    <div class="panel-footer">
                    	<button type="submit" class="btn btn-info plain">Register</button>	 
                    </div><!--end  class=panel-footer -->  
	  	   	 	  </div><!--end  class=panel panel-info -->
	  	   	 </form>
	  	 </div>
	  </div><!--end  class=row -->
</template>