<template name="layout">
	{{>header}}
	  <div class="container-fluid">
  	   <div class="row">
  	   	   <div class="col-md-2">
  	   	   	 {{>Template.dynamic template=sidebar}}
  	   	   </div><!--end  class=col-md-2 -->
  	   	   <div class="col-md-8">
  	   	   	 {{>Template.dynamic template=main}}
  	   	   </div><!--end  class=col-md-8 -->
  	   	   <div class="col-md-2">
  	   	   	 {{>Template.dynamic template=cart}}
  	   	   </div><!--end  class=col-md-2 -->
  	   </div><!--end  class=row -->
	  </div><!--end  class=container-fluid -->
</template> 